<template>
    <dashboard-nav></dashboard-nav>
    <router-view/>
</template>

<script>
import DashboardNav from '@/Components/Dashboard/DashboardNav.vue';
import CarsList from "@/Components/Cars/CarsList.vue";

import { useAdminStore } from '@/Stores/AdminStore';
import { onMounted } from 'vue';

export default {
    name: 'Dashboard',
    components: {
        CarsList,
        DashboardNav
    },
    setup() {
        const oAdminStore = useAdminStore()

        onMounted(() => {
            oAdminStore.setAdmin(ADMIN);
        })

        return {
            oAdminStore
        }
    }
}
</script>

<style scoped>

</style>
