<template>
    <div class="container">
        <nav class="navbar" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand">Dodgy Bros.</a>
                <div class="d-flex">
                    <span v-if="oAdminStore.bHasSession" class="navbar-text me-1">Welcome! {{ oAdminStore.sAdminName }}</span>
                    <a v-if="!oAdminStore.bHasSession" class="btn btn-outline-info mx-1" href="/form">List Car</a>
                    <a v-if="!oAdminStore.bHasSession" class="btn btn-outline-primary" href="/login">Login</a>
                    <a v-else class="btn btn-outline-primary" href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
import { useAdminStore } from '@/Stores/AdminStore';

export default {
    name: 'DashboardNav',
    setup() {
        const oAdminStore = useAdminStore()

        return {
            oAdminStore
        }
    }
}
</script>

<style scoped>

</style>
