<template>
    <dashboard></dashboard>
</template>

<script>
import Dashboard from '@/Components/Dashboard/Dashboard.vue';

export default {
    name: 'App',
    components: {
        Dashboard
    },
    setup() {}
}
</script>

<style scoped>

</style>
