<template>
    <div class="container">
        <h2>Login</h2>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" v-model="oAuthStore.sUsername">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" v-model="oAuthStore.sPassword">
            </div>
            <button type="submit" class="btn btn-primary" @click.prevent="onAuthClick">Submit</button>
        </form>
    </div>
</template>

<script>
import {useAuthStore} from '@/Stores/AuthStore';

export default {
    name: 'LoginForm',
    setup() {
        const oAuthStore = useAuthStore();

        /**
         * Event listener auth click event
         */
        function onAuthClick() {
            oAuthStore.authAdmin();
        }

        return {
            oAuthStore,
            onAuthClick
        }
    }
}
</script>

<style scoped>

</style>
