<template>
    <div class="container">
        <h1>Thank you!</h1>
        <a class="btn btn-primary" href="/">Go back</a>
    </div>
</template>

<script>
export default {
    name: 'CarsListSuccess'
}
</script>

<style scoped>

</style>
