<template>
    <div class="container">
        <h2>Buy the car</h2>
        <form>
            <div class="mb-3">
                <label for="buyer_name" class="form-label">Buyer Name</label>
                <input type="text" class="form-control" id="buyer_name" placeholder="Enter name" v-model="oCarsStore.oBuyCarParams.buyer_name">
            </div>
            <div class="mb-3">
                <label for="buyer_number" class="form-label">Buyer Number</label>
                <input type="text" class="form-control" id="buyer_number" placeholder="Enter number" v-model="oCarsStore.oBuyCarParams.buyer_number">
            </div>
            <button type="submit" class="btn btn-primary me-1" @click.prevent="onBuyCarClick">Buy car</button>
            <a class="btn btn-danger" href="/">Back</a>
        </form>
    </div>
</template>

<script>

import { useCarsStore } from '@/Stores/CarsStore.js';

export default {
    name: 'CarsBuyForm',
    setup() {
        const oCarsStore = useCarsStore();

        /**
         * Event listener for buy car click event
         */
        function onBuyCarClick() {
            oCarsStore.buyCar();
        }

        return {
            oCarsStore,
            onBuyCarClick
        }
    }
}
</script>

<style scoped>

</style>
