<template>
    <form class="row g-3">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Filter List</span>
            <select class="form-select" v-model="oCarsStore.oGetCarsParams.category">
                <option value="null">-- Select Category --</option>
                <option value="car_name">Car Name</option>
                <option value="year">Year</option>
            </select>
            <input type="text" class="form-control" placeholder="Enter value" v-model="oCarsStore.oGetCarsParams.value">

            <button v-if="bShowClearBtn" type="submit" class="btn btn-primary" @click.prevent="onClearFilterClick">Clear</button>
            <button v-else type="submit" class="btn btn-primary" @click.prevent="onFilterListClick">Filter</button>
        </div>
    </form>
</template>

<script>
import { useCarsStore } from '@/Stores/CarsStore';

import { ref } from 'vue';
export default {
    name: 'CarsListSearch',
    setup() {
        const oCarsStore = useCarsStore();

        let bShowClearBtn = ref(false);

        /**
         * Event listener for filter list click event
         */
        function onFilterListClick() {
            oCarsStore.oGetCarsParams.offset = 0;

            if (oCarsStore.oGetCarsParams.category === 'null') {
                oCarsStore.oGetCarsParams.category = null;
            }

            if (oCarsStore.oGetCarsParams.value === '') {
                oCarsStore.oGetCarsParams.value = null;
            }

            bShowClearBtn.value = true;

            oCarsStore.getCars();
        }

        /**
         * Event listener for clear filter click event
         */
        function onClearFilterClick() {
            oCarsStore.oGetCarsParams.offset = 0;
            oCarsStore.oGetCarsParams.category = null;
            oCarsStore.oGetCarsParams.value = null;

            bShowClearBtn.value = false;

            oCarsStore.getCars();
        }

        return {
            oCarsStore,
            bShowClearBtn,
            onFilterListClick,
            onClearFilterClick
        }
    }
}
</script>

<style scoped>

</style>
