<template>
    <div class="container">
        <h2>Cars for sale</h2>
        <cars-list-search></cars-list-search>
        <table class="table" v-if="oCarsStore.aCarsList.length !== 0">
            <thead>
                <tr>
                    <th scope="col">Car No</th>
                    <th scope="col">Car Name</th>
                    <th scope="col">Car Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(oCar, iIndex) in oCarsStore.aCarsList">
                    <td>{{ iIndex + 1 }}</td>
                    <td>{{ oCar.car_name }}</td>
                    <td>{{ oCar.car_model }}</td>
                    <td>{{ oCar.year }}</td>
                    <td>{{ oCar.condition }}</td>
                    <td>{{ oCar.price }}</td>
                    <td>
                        <div v-if="!oAdminStore.bHasSession" class="d-flex">
                            <button v-if="oCar.is_available" type="button" class="btn btn-success" @click="onBuyClick(oCar.car_no)">Buy</button>
                            <button v-else type="button" class="btn btn-danger" disabled href="/buy">Sold</button>
                        </div>
                        <div v-else-if="oAdminStore.bHasSession" class="d-flex">
                            <button v-if="!oCar.is_available" type="button" class="btn btn-success" @click="onMakeAvailableClick(oCar.car_no)">Make available</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-else class="d-flex justify-content-center">
            <h2>No more cars!</h2>
        </div>
        <div class="position-relative">
            <a v-if="bShowBackBtn" class="btn btn-outline-primary me-1" @click="onBackPageClick">Back</a>
            <a v-if="bShowNextBtn" class="btn btn-outline-primary" @click="onNextPageClick">Next</a>
        </div>
    </div>
</template>

<script>
import CarsListSearch from '@/Components/Cars/CarsListSearch.vue';

import { useAdminStore } from '@/Stores/AdminStore.js';
import { useCarsStore } from '@/Stores/CarsStore.js';

import {computed, onMounted, ref} from 'vue';

export default {
    name: 'CarsList',
    components: {
        CarsListSearch
    },
    setup() {
        const oAdminStore = useAdminStore();
        const oCarsStore = useCarsStore();

        onMounted(() => {
            oCarsStore.getCars();
        });

        /**
         * Flag for back btn display
         *
         * @type {ComputedRef<boolean>}
         */
        let bShowBackBtn = computed(() => {
            return oCarsStore.oGetCarsParams.offset > 0;
        });

        /**
         * Flag for next btn display
         * @type {ComputedRef<boolean>}
         */
        let bShowNextBtn = computed(() => {
            return oCarsStore.oGetCarsParams.offset < oCarsStore.iCarsCount;
        });

        /**
         * Event listener for buy click event
         */
        function onBuyClick(iCarNo) {
            const oUrlParams = new URLSearchParams({car_no: iCarNo});

            window.location.href = `${window.location}buy?${oUrlParams.toString()}`;
        }

        /**
         * Event listener for make available click event
         */
        function onMakeAvailableClick(iCarNo) {
            oCarsStore.availableCar(iCarNo)
        }

        /**
         * Event listener for back page click event
         */
        function onBackPageClick() {
            oCarsStore.oGetCarsParams.offset -= 10;
            oCarsStore.getCars()
        }

        /**
         * Event listener for next page click event
         */
        function onNextPageClick() {
            oCarsStore.oGetCarsParams.offset += 10;
            oCarsStore.getCars()
        }

        return {
            oAdminStore,
            oCarsStore,
            bShowBackBtn,
            bShowNextBtn,
            onBuyClick,
            onMakeAvailableClick,
            onBackPageClick,
            onNextPageClick
        }
    }
}
</script>

<style scoped>

</style>
