<template>
    <div class="container">
        <h2>Add your car to listing</h2>
        <form>
            <div class="mb-3">
                <label for="car_name" class="form-label">Car Name</label>
                <input type="text" class="form-control" id="car_name" placeholder="Enter car name" v-model="oCarsStore.oCarParams.car_name">
            </div>
            <div class="mb-3">
                <label for="car_model" class="form-label">Car Model</label>
                <input type="text" class="form-control" id="car_model" placeholder="Enter car model" v-model="oCarsStore.oCarParams.car_model">
            </div>
            <div class="mb-3">
                <label for="condition" class="form-label">Condition</label>
                <select class="form-select" id="condition" v-model="oCarsStore.oCarParams.condition">
                    <option value="null">-- Select Condition --</option>
                    <option value="poor">Poor</option>
                    <option value="fair">Fair</option>
                    <option value="good">Good</option>
                    <option value="excellent">Excellent</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year</label>
                <select class="form-select" id="condition" v-model="oCarsStore.oCarParams.year">
                    <option value="null">-- Select Year --</option>
                    <option :value="iYear" v-for="iYear in aYearList">{{ iYear }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter price" v-model="oCarsStore.oCarParams.price">
            </div>
            <div class="mb-3">
                <label for="seller_name" class="form-label">Seller Name</label>
                <input type="text" class="form-control" id="seller_name" placeholder="Enter seller name" v-model="oCarsStore.oCarParams.seller_name">
            </div>
            <div class="mb-3">
                <label for="seller_number" class="form-label">Seller Number</label>
                <input type="text" class="form-control" id="seller_number" placeholder="Enter seller number" v-model="oCarsStore.oCarParams.seller_number">
            </div>
            <button type="submit" class="btn btn-primary me-1" @click.prevent="onAddToListClick">Add to List</button>
            <a type="submit" class="btn btn-danger" href="/">Back</a>
        </form>
    </div>
</template>

<script>
import { useCarsStore } from '@/Stores/CarsStore.js';

import { computed } from 'vue';

export default {
    name: 'CarsListForm',
    setup() {
        const oCarsStore = useCarsStore();

        /**
         * This will return list of years from 1900 up to current year
         *
         * @type {ComputedRef<unknown[]>}
         */
        let aYearList = computed(() => {
            const iCurrentYear = new Date().getFullYear();
            const iStartYear = 1900;

            return Array.from({
                length: iCurrentYear - iStartYear + 1
            }, (_, iYearDiff) => iStartYear + iYearDiff);
        });

        /**
         * Event listener for add to list click event
         */
        function onAddToListClick() {
            oCarsStore.listCar();
        }

        return {
            oCarsStore,
            aYearList,
            onAddToListClick,
        }
    }
}
</script>

<style scoped>

</style>
